table {
    border:2px solid teal;
    th {
        padding:1rem;
        border: 1px solid teal;
        font-weight: bold;
        text-align: center;
    }
    tr {
        td {    
            padding:1rem;
            border: 1px solid teal;
        }
    }
}