<table *ngIf="jsonObject.length > 0">
    <tr>
      <th *ngFor="let key of headers">
        {{key}}
      </th>
    </tr>
    <tr *ngFor="let item of jsonObject">
        <td *ngFor="let key of headers">{{item[key]}}</td>
      </tr>
  </table>
  
